In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [9]:
# Get the data se:
deaths = pd.read_csv('csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

In [11]:
#Show only the fir
deaths.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,4,4,4,4,4,4,5,5,5,5
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,1,1,1,1,1,1,1,1,1,1
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,20,21,23,24,33,39,42,44,45,45
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,1,1,1,1,1,1,1,1,1,1

In [12]:
deaths.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3253 entries, 0 to 3252
Data columns (total 96 columns):
UID               3253 non-null int64
iso2              3253 non-null object
iso3              3253 non-null object
code3             3253 non-null int64
FIPS              3251 non-null float64
Admin2            3246 non-null object
Province_State    3253 non-null object
Country_Region    3253 non-null object
Lat               3253 non-null float64
Long_             3253 non-null float64
Combined_Key      3253 non-null object
Population        3253 non-null int64
1/22/20           3253 non-null int64
1/23/20           3253 non-null int64
1/24/20           3253 non-null int64
1/25/20           3253 non-null int64
1/26/20           3253 non-null int64
1/27/20           3253 non-null int64
1/28/20           3253 non-null int64
1/29/20           3253 non-null int64
1/30/20           3253 non-null int64
1/31/20           3253 non-null int64
2/1/20            3253 non-null int64
2/2/20            3253 non-null int64
2/3/20            3253 non-null int64
2/4/20            3253 non-null int64
2/5/20            3253 non-null int64
2/6/20            3253 non-null int64
2/7/20            3253 non-null int64
2/8/20            3253 non-null int64
2/9/20            3253 non-null int64
2/10/20           3253 non-null int64
2/11/20           3253 non-null int64
2/12/20           3253 non-null int64
2/13/20           3253 non-null int64
2/14/20           3253 non-null int64
2/15/20           3253 non-null int64
2/16/20           3253 non-null int64
2/17/20           3253 non-null int64
2/18/20           3253 non-null int64
2/19/20           3253 non-null int64
2/20/20           3253 non-null int64
2/21/20           3253 non-null int64
2/22/20           3253 non-null int64
2/23/20           3253 non-null int64
2/24/20           3253 non-null int64
2/25/20           3253 non-null int64
2/26/20           3253 non-null int64
2/27/20           3253 non-null int64
2/28/20           3253 non-null int64
2/29/20           3253 non-null int64
3/1/20            3253 non-null int64
3/2/20            3253 non-null int64
3/3/20            3253 non-null int64
3/4/20            3253 non-null int64
3/5/20            3253 non-null int64
3/6/20            3253 non-null int64
3/7/20            3253 non-null int64
3/8/20            3253 non-null int64
3/9/20            3253 non-null int64
3/10/20           3253 non-null int64
3/11/20           3253 non-null int64
3/12/20           3253 non-null int64
3/13/20           3253 non-null int64
3/14/20           3253 non-null int64
3/15/20           3253 non-null int64
3/16/20           3253 non-null int64
3/17/20           3253 non-null int64
3/18/20           3253 non-null int64
3/19/20           3253 non-null int64
3/20/20           3253 non-null int64
3/21/20           3253 non-null int64
3/22/20           3253 non-null int64
3/23/20           3253 non-null int64
3/24/20           3253 non-null int64
3/25/20           3253 non-null int64
3/26/20           3253 non-null int64
3/27/20           3253 non-null int64
3/28/20           3253 non-null int64
3/29/20           3253 non-null int64
3/30/20           3253 non-null int64
3/31/20           3253 non-null int64
4/1/20            3253 non-null int64
4/2/20            3253 non-null int64
4/3/20            3253 non-null int64
4/4/20            3253 non-null int64
4/5/20            3253 non-null int64
4/6/20            3253 non-null int64
4/7/20            3253 non-null int64
4/8/20            3253 non-null int64
4/9/20            3253 non-null int64
4/10/20           3253 non-null int64
4/11/20           3253 non-null int64
4/12/20           3253 non-null int64
4/13/20           3253 non-null int64
4/14/20           3253 non-null int64
dtypes: float64(3), int64(87), object(6)
memory usage: 2.4+ MB